/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #578fff;
  --ifm-color-primary-dark: #4e89ff;
  --ifm-color-primary-darker: #3b7cff;
  --ifm-color-primary-darkest: #2970ff;
  --ifm-color-primary-light: #6598fd;
  --ifm-color-primary-lighter: #7aa6ff;
  --ifm-color-primary-lightest: #88afff;
  --ifm-code-font-size: 95%;
}

html[data-theme='light'] .hero--primary {
  background-image: url('/img/bk.png');
  background-color: white;
  background-repeat: repeat;
  background-size: 220px;
}

html[data-theme='dark'] .hero--primary {
  background-image: url('/img/bk-dark.png');
  background-color: black;
  background-repeat: repeat;
  background-size: 220px;
}

html[data-theme='light'] .hero__title,
html[data-theme='light'] .hero__subtitle {
  color: black;
}

html[data-theme='dark'] .hero__title,
html[data-theme='dark'] .hero__subtitle {
  color: white;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='light'] .projects {
  background-color: #f5f6f7;
}

html[data-theme='dark'] .projects {
  background-color: rgb(98 102 109);
}

.footer--dark {
  --ifm-footer-background-color: #53565c;
  --ifm-footer-color: var(--ifm-footer-link-color);
  --ifm-footer-link-color: var(--ifm-color-secondary);
  --ifm-footer-title-color: var(--ifm-color-white);
}
